{% extends 'accounts/dashboard/base_dashboard.html' %}

{% block title %}Customer Dashboard{% endblock %}

{% block sidebar %}

    <a href="{% url 'my_orders' %}">My Orders</a>
    <a href="{% url 'create_reservation' %}">Book Table</a>
    <a href="{% url 'reservation_list' %}">My Reservations</a>
    <a href="{% url 'add_review' %}">Create Review</a>
    <a href="{% url 'reservation_list' %}">My Reviews</a>
    

{% endblock %}

{% block content %}

{% endblock %}

{% block extra_css %}

{% endblock %}
