{% extends "accounts/dashboard/base_dashboard.html" %}

{% block sidebar %}
    <a href="{% url 'staff_analytics' %}">
    📊 Analytics
</a>
<a href="{% url 'staff_inventory' %}">
    📦 Inventory
</a>
<a href="{% url 'staff_top_selling' %}">
    🍽️ Top Selling
</a>
<a href="{% url 'staff_dashboard' %}">
    🧾 All Orders
</a>
<a href="{% url 'staff_dashboard' %}?status=PAID">
    ✅ Completed Orders
</a>
<a href="{% url 'staff_dashboard' %}?status=PENDING">
    ⏳ Pending Orders
</a>


{% endblock %}

{% block content %}
<h2>
    {% if request.GET.status %}
        {% if request.GET.status == "PAID" %}Completed Orders{% elif request.GET.status == "PENDING" %}Pending Orders{% endif %}
    {% else %}All Orders{% endif %}
</h2>

{% if orders %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.user.username }}</td>
            <td>${{ order.total_price }}</td>
            <td >{{ order.status }}</td>
            <td>{{ order.created_at|date:"M d, Y H:i" }}</td>
            <td>
                {% if order.status != "PAID" %}
                <a href="{% url 'mark_paid' order.id %}" class="btn btn-success btn-sm">Mark Paid</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No orders found.</p>
{% endif %}


{% endblock %}

