{% extends 'base.html' %}
{% block content %}

<section class="auth-wrapper">
  <div class="auth-box">

    <div class="auth-left">
      <h2>Welcome Back</h2>
      <p>Login to continue ordering</p>
    </div>

    <div class="auth-right">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          <div class="mb-3">
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}

        <button class="btn btn-warning w-100">Login</button>
      </form>
    </div>

  </div>
</section>

{% endblock %}
