{% extends 'base.html' %}
{% block content %}

<section class="auth-wrapper">
  <div class="auth-box">

    <div class="auth-left">
      <h2>Create Account</h2>
      <p>Order premium food with confidence</p>
    </div>

    <div class="auth-right">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
          <div class="mb-3">
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}

        <button class="btn btn-warning w-100">Register</button>
      </form>

      <p class="mt-3">
        Already have account?
        <a href="{% url 'login' %}">Login</a>
      </p>
    </div>

  </div>
</section>

{% endblock %}
